<div>
<h1>Property Details</h1>
<p>property ID: {{id}}</p>
<p>property Address: {{address}}</p>
{{#if availability}}
<p>Property Availability: available</p>
{{else}}
<p>Property Availability: unavailable</p>
{{/if}}

<h3>Owner's Informations:</h3>
<p>Name: {{name}}</p>
<p>Email: {{email}}</p>
<p>Phone#: {{phone}}</p>
</div>

<div>
    <h1>Furniture Planner:</h1>
</div>