<div>
	<h2>Welcome, {{name}}</h2>
</div>

<h3>Property Rented:</h3>
	<div>
		<h4><a href='/property/{{property.id}}'>{{property.address}}'</a>
		</h4>
		<h4>Start of Lease: {{contract.created_at}}</h4>
		<h4>Length of Lease: {{contract.term}} Days</h4>
	</div>
